{% extends "base.html" %}

{% block content %}
    <h3>Do I Have This Song?</h3>
    <form action="{% url 'song:search' %}">
        <div class="form-group row">
            <div class="col-xs-12">
                <fieldset class="form-group">
                    <label for="search_for">Search for</label>
                    <div id="search_for" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary-outline" id="album_label">
                            <input type="radio" name="search_for" value="album" id="album_radio" autocomplete="off">
                            Album
                        </label>
                        <label class="btn btn-primary-outline" id="song_label">
                            <input type="radio" name="search_for" value="song" id="song_radio" autocomplete="off">
                            Song
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <fieldset class="form-group">
                    <label for="search_type">Search type</label>
                    <div id="search_type" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary-outline" id="contains_label">
                            <input type="radio" name="search_type" value="contains" id="contains_radio"
                                   autocomplete="off">
                            Contains
                        </label>
                        <label class="btn btn-primary-outline" id="exact_label">
                            <input type="radio" name="search_type" value="exact" id="exact_radio" autocomplete="off">
                            Exact
                        </label>
                        <label class="btn btn-primary-outline" id="startswith_label">
                            <input type="radio" name="search_type" value="startswith" id="startswith_radio"
                                   autocomplete="off">
                            Startswith
                        </label>
                        <label class="btn btn-primary-outline" id="endswith_label">
                            <input type="radio" name="search_type" value="endswith" id="endswith_radio"
                                   autocomplete="off">
                            Endswith
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12">
                <fieldset class="form-group">
                    <label for="keyword">Keyword</label>
                    <input type="text" class="form-control" id="keyword" name="keyword" required>
                </fieldset>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <h3>Do I Have This Song?</h3>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.column1 }}</td>
                        <td>{{ result.column2 }}</td>
                        <td>{{ result.column3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="application/javascript">
        window.onload = function () {
            document.getElementById('{{ search_for }}_radio').checked = true;
            document.getElementById('{{ search_for }}_label').className += ' active';
            document.getElementById('{{ search_type }}_radio').checked = true;
            document.getElementById('{{ search_type }}_label').className += ' active';
            document.getElementById('keyword').value = '{{ keyword }}';
        }
    </script>
{% endblock content %}
