{% extends "base.html" %}

{% block content %}
    <h1>Do I have this song?</h1>
    <form id="f" action="{% url 'song:search' %}">
        <input type="hidden" id="page" name="page" value="1">
        <div class="form-group row">
            <label class="form-control-label col-xs-1" for="for">For</label>
            <div id="for" class="btn-group col-xs-11" data-toggle="buttons">
                <label class="btn btn-primary-outline" id="album_label">
                    <input type="radio" name="for" value="album" id="album_radio" autocomplete="off">
                    Album
                </label>
                <label class="btn btn-primary-outline" id="song_label">
                    <input type="radio" name="for" value="song" id="song_radio" autocomplete="off">
                    Song
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-xs-1" for="in">In</label>
            <div id="in" class="btn-group col-xs-11" data-toggle="buttons">
                <label class="btn btn-primary-outline" id="title_label">
                    <input type="radio" name="in" value="title" id="title_radio" autocomplete="off">
                    Title
                </label>
                <label class="btn btn-primary-outline" id="artist_label">
                    <input type="radio" name="in" value="artist" id="artist_radio" autocomplete="off">
                    Artist
                </label>
                <label class="btn btn-primary-outline" id="genre_label">
                    <input type="radio" name="in" value="genre" id="genre_radio" autocomplete="off">
                    Genre
                </label>
                <label class="btn btn-primary-outline" id="album_artist_label">
                    <input type="radio" name="in" value="album_artist" id="album_artist_radio"
                           autocomplete="off">
                    Album Artist
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-xs-1" for="keyword">Keyword</label>
            <div class="col-xs-11">
                <input type="text" class="form-control" id="keyword" name="keyword" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-xs-1" for="match">Match</label>
            <div id="match" class="btn-group col-xs-11" data-toggle="buttons">
                <label class="btn btn-primary-outline" id="contains_label">
                    <input type="radio" name="match" value="contains" id="contains_radio"
                           autocomplete="off">
                    Contains
                </label>
                <label class="btn btn-primary-outline" id="exact_label">
                    <input type="radio" name="match" value="exact" id="exact_radio" autocomplete="off">
                    Exact
                </label>
                <label class="btn btn-primary-outline" id="forward_label">
                    <input type="radio" name="match" value="forward" id="forward_radio"
                           autocomplete="off">
                    Forward
                </label>
                <label class="btn btn-primary-outline" id="backward_label">
                    <input type="radio" name="match" value="backward" id="backward_radio"
                           autocomplete="off">
                    Backward
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-1 col-xs-12">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Album Artist</th>
                    <th>Artist</th>
                    <th>Album</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.title }}</td>
                        <td>{{ result.album_artist }}</td>
                        <td>{{ result.artist }}</td>
                        <td>{{ result.album }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-xs-center">
        <ul class="pagination">
            {% if results.has_previous %}
                <li class="page-item">
                    <a class="page-link" onclick="move_page({{ results.previous_page_number }})"
                       href="javascript:void(0)">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span>&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in results.paginator.page_range %}
                {% ifequal page results.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" onclick="move_page({{ page }})"
                                             href="javascript:void(0)">{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if results.has_next %}
                <li class="page-item">
                    <a class="page-link" onclick="move_page({{ results.next_page_number }})"
                       href="javascript:void(0)">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <script type="application/javascript">
        'use strict';

        window.onload = function () {
            ['{{ for }}', '{{ in }}', '{{ match }}'].forEach(function (i) {
                document.getElementById(i + '_radio').checked = true;
                document.getElementById(i + '_label').className += ' active';
            });
            document.getElementById('keyword').value = '{{ keyword }}';
        };
        function move_page(page) {
            document.getElementById('page').value = page;
            var form = document.getElementById('f');
            form.submit();
        }
    </script>
{% endblock content %}
